<%- include('header') %>

<main class="container m-auto my-5" style="max-width: 500px">
  <form action="/profile" method="post" enctype="multipart/form-data">
    <h1 class="h3 mb-3 fw-normal">Profilom</h1>

    <% if (typeof errors !== 'undefined') { %>
    <%- include('errorMessages', {errors}) %>
    <% } %>

    <div style="text-align: center;">
      <% if (typeof me.picturePath !== 'undefined') { %>
      <img src="/<%= me.picturePath %>" alt="Profilkép" class="img-thumbnail object-fit-contain" style="width: 10em; height: 10em;" />
      <% } else { %>
      <i class="bi bi-person-bounding-box" style="font-size: 10em;"></i>
      <% } %>
    </div>

    <div class="input-group mb-3 my-2">
      <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="<%= typeof email !== 'undefined' ? email : me.email %>" />
        <label for="email">E-mail cím</label>
      </div>
    </div>

    <div class="input-group mb-3 my-2">
      <span class="input-group-text"><i class="bi bi-key"></i></span>
      <div class="form-floating">
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" value="<%= typeof pass === 'string' ? pass : '' %>" />
        <label for="pass">Jelszó</label>
      </div>
    </div>

    <div class="input-group mb-3 my-2">
      <span class="input-group-text"><i class="bi bi-key"></i></span>
      <div class="form-floating">
        <input type="password" class="form-control" id="passAgain" name="passAgain" placeholder="Password" value="<%= typeof passAgain === 'string' ? passAgain : '' %>" />
        <label for="passAgain">Jelszó újra</label>
      </div>
    </div>

    <div class="input-group mb-3 my-2">
      <span class="input-group-text"><i class="bi bi-person-vcard"></i></span>
      <div class="form-floating">
        <input type="text" class="form-control" id="name" name="name" placeholder="Név" value="<%= typeof name !== 'undefined' ? name : me.name %>" />
        <label for="name">Megjelenítendő név</label>
      </div>
    </div>

    <label>Profilkép módosítása:</label>
    <div class="input-group mb-3 my-2">
      <input type="file" class="form-control" id="picture" name="picture" />
    </div>

    <button class="btn btn-primary w-100 py-2 my-2" type="submit">
      Módosít
    </button>
  </form>

  <a href="/my-posts" class="btn btn-outline-primary my-2 w-100 py-2">
    Kikukorékolt gondolataim
  </a>

  <form action="/logout" method="post">
    <button class="btn btn-outline-primary w-100 py-2 my-2" type="submit">
      Kijelentkezés
    </button>
  </form>
</main>

<%- include('footer') %>